<div class="bg-gray-50">
    <div class="container grid grid-cols-1 gap-8 px-4 py-12 mx-auto lg:grid-cols-2">
        <div class="flex flex-col items-center max-w-lg mx-auto text-center">
            <h3 class="text-3xl font-semibold tracking-tight text-gray-800">
                Web development
            </h3>
            <p class="mt-3 text-gray-500">
                We make websites in Angular, Svelte, React, any other JS (or non-js) library, or static HTML.
                We can integrate with your existing stack, or we can suggest solutions.
                We offer free (unbilled) consultation, wherein a Blazed Engineer will work with you to find the best solution for your company.
            </p>
            <a href="https://blazed.contact/website" target="_blank" class="inline-flex items-center justify-center w-full px-5 py-2 mt-6 text-white bg-red-500 rounded-lg sm:w-auto hover:bg-red-400 focus:ring focus:ring-blue-300 focus:ring-opacity-80">
                Contact Us
            </a>
        </div>
        <div class="flex flex-col items-center max-w-lg mx-auto text-center">
            <h3 class="text-3xl font-semibold tracking-tight text-gray-800">
                App development
            </h3>
            <p class="mt-3 text-gray-500">
                We can make desktop and mobile apps. Desktop can be Macintosh, Windows, and/or Linux. Mobile can be IOS, Android, and/or Windows Phone. Apps specifically refer to installed applications, and usually are more costly and time consuming to produce.
            </p>
            <a href="https://blazed.contact/app" target="_blank" class="inline-flex items-center justify-center w-full px-5 py-2 mt-6 border text-gray-800 bg-white rounded-lg sm:w-auto hover:bg-gray-200 focus:ring focus:ring-blue-300 focus:ring-opacity-80">
                Contact Us
            </a>
        </div>
    </div>
</div>