<!--
    Schema Declaration for Blazed Labs, for search engines and bots only
-->
<section class="sr-only" itemscope itemtype="https://schema.org/LocalBusiness">
    <meta itemprop="name" content="Blazed Labs" />
    <meta itemprop="slogan" content="We turn Dreams into Reality." />
    <meta itemprop="description" content="{{ data.description }}" />
    <meta itemprop="logo" content="https://blazed.sirv.com/logo/Beaker-Dark.png?w=75&h=75" />
    <meta itemprop="branchCode" content="{{ data.branchCode }}" />
    <meta itemprop="identifier" content="{{ data.uuid }}" />
    <meta itemprop="address" content="{{ data.address }}" />
    <meta itemprop="telephone" content="{{ app.phone }}" />
    <meta itemprop="faxNumber" content="" />
    <meta itemprop="taxID" content="{{ data.taxId }}" />
    <meta itemprop="photo" content="https://blazed.sirv.com/logo/Wallpaper-Beaker.png?w=500&h=500" />
    <meta itemprop="url" content="https://blazedlabs.com/" />
    <meta itemprop="latitude" content="39.4255819" />
    <meta itemprop="longitude" content="-74.6021759" />
    <meta itemprop="publicAccess" content="yes" />
    <meta itemprop="areaServed" content="New Jersey, USA" />
    <meta itemprop="areaServed" content="New York, NY, USA" />
    <meta itemprop="areaServed" content="Boston, MA, USA" />
</section>
<header>
    <blz-header></blz-header>
</header>
<main>
    <ng-content></ng-content>
</main>
<footer>
    <blz-footer></blz-footer>
</footer>