<div class="bg-gray-50">
    <div class="container flex flex-col items-center px-4 py-12 mx-auto text-center">
        <h2 class="text-3xl font-semibold tracking-tight text-gray-700 sm:text-4xl">
            Join the Newsletter
            <br />
            <span class="text-gray-500 text-2xl">To keep up to date on Blazed products!</span>
        </h2>
        
        <div class="mt-6 sm:-mx-2 select-none">
            <div class="inline-flex w-full sm:w-auto sm:mx-2">
                <a title="Get updates on products and exclusive deals!" href="/newsletter" class="inline-flex items-center justify-center w-full transition-colors duration-200 transform px-5 py-2 text-white bg-red-600 rounded-lg hover:bg-red-700 focus:ring focus:ring-red-300 focus:ring-opacity-80">
                    <i>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor" class="w-3 h-3 mr-2">
                            <path d="M96 96c0-35.3 28.7-64 64-64H448c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H80c-44.2 0-80-35.8-80-80V128c0-17.7 14.3-32 32-32s32 14.3 32 32V400c0 8.8 7.2 16 16 16s16-7.2 16-16V96zm64 24v80c0 13.3 10.7 24 24 24H424c13.3 0 24-10.7 24-24V120c0-13.3-10.7-24-24-24H184c-13.3 0-24 10.7-24 24zm0 184c0 8.8 7.2 16 16 16h96c8.8 0 16-7.2 16-16s-7.2-16-16-16H176c-8.8 0-16 7.2-16 16zm160 0c0 8.8 7.2 16 16 16h96c8.8 0 16-7.2 16-16s-7.2-16-16-16H336c-8.8 0-16 7.2-16 16zM160 400c0 8.8 7.2 16 16 16h96c8.8 0 16-7.2 16-16s-7.2-16-16-16H176c-8.8 0-16 7.2-16 16zm160 0c0 8.8 7.2 16 16 16h96c8.8 0 16-7.2 16-16s-7.2-16-16-16H336c-8.8 0-16 7.2-16 16z"/>
                        </svg>
                    </i>
                    Subscribe to our newsletter
                </a>
            </div>
        </div>
    </div>
</div>