<article class="pt-10">
    <div  class="pt-8">
        <div class="lg:py-12 lg:flex lg:justify-center">
            <div class="bg-gray-100 dark:bg-gray-800 lg:mx-8 lg:flex lg:max-w-5xl lg:border lg:border-black">
                <div class="lg:w-1/2">
                    <div class="h-64 bg-cover lg:h-full" style="background-image:url('https://blazed.sirv.com/ibis/blazed-arena.jpg')"></div>
                </div>

                <div class="max-w-xl px-6 py-12 lg:max-w-5xl lg:w-1/2">
                    <h2 class="text-2xl font-bold text-gray-800 dark:text-white md:text-3xl">
                        Building tomorrow... <span class="text-red-600">Today!</span>
                    </h2>
                    <p class="mt-4 text-gray-600 dark:text-gray-400">
                        Blazed Labs LLC was founded in 2020, and since our founding we have been commited to security, quality, and performance.
                    </p>
                    <br />
                    <p>
                        <span class="text-gray-600">Entity ID:</span> 0450452884
                    </p>
                    <p>
                        <span class="text-gray-600">Incorporated Date:</span> 1/13/2020
                    </p>
                    <p>
                        <span class="text-gray-600">Operating Location:</span> Ocean City, New Jersey
                    </p>
                    <p>
                        <span class="text-gray-600">Telephone:</span>&nbsp;<a class="hover:underline" href="tel:+18557882348">+1 (855) 788-2348</a>
                    </p>
                    <p>
                        <span class="text-gray-600">Email:</span>&nbsp;<a class="hover:underline" href="mailto:hello@blazed.space">hello@blazed.space</a>
                    </p>
                    <p>
                        <span class="text-gray-600">Questions? Comments? Concerns? </span>&nbsp;<a class="hover:underline" href="/contact">Contact Us</a>
                    </p>
                    <div class="mt-8">
                        <a href="https://blazedlabs.com/about" target="_blank" class="hidden md:inline-block px-5 py-2 font-semibold text-gray-100 transition-colors duration-200 transform bg-gray-900 rounded-md hover:bg-gray-700">
                            About Us
                        </a>
                        <a href="https://www.blz.one/products" target="_blank" class="ml-3 px-5 py-2 font-semibold text-gray-100 transition-colors duration-200 transform bg-gray-900 rounded-md hover:bg-gray-700">
                            Products
                        </a>
                        <a href="https://www.blz.one/services" target="_blank" class="ml-3 px-5 py-2 font-semibold text-gray-100 transition-colors duration-200 transform bg-gray-900 rounded-md hover:bg-gray-700">
                            Services
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-white dark:bg-gray-900 mb-10">
        <div class="container flex flex-col items-center px-4 py-12 mx-auto text-center">
            <h2 class="text-3xl font-semibold tracking-tight text-gray-700 sm:text-4xl dark:text-white">
                Managed By: <br>
                <span class="text-gray-600">Ruff Management Inc.</span>
            </h2>
            
            <div class="mt-6 sm:-mx-2">
                <div class="inline-flex w-full sm:w-auto sm:mx-2">
                    <a href="https://ruff-manage.com/" target="_blank" class="inline-flex items-center justify-center w-full px-5 py-2 text-white bg-red-500 rounded-lg hover:bg-red-400 focus:ring focus:ring-blue-300 focus:ring-opacity-80">
                        Website
                    </a>
                </div>

                <div class="inline-flex w-full mt-4 sm:w-auto sm:mx-2 sm:mt-0">
                    <a href="https://www.facebook.com/ruffmanagement" target="_blank" class="inline-flex items-center justify-center w-full px-5 py-2 text-gray-700 transition-colors duration-150 transform bg-white border border-gray-200 rounded-lg dark:bg-gray-900 dark:border-gray-700 hover:bg-gray-100 dark:text-white sm:w-auto dark:hover:bg-gray-800 dark:ring-gray-700 focus:ring focus:ring-gray-200 focus:ring-opacity-80">
                        Facebook
                    </a>
                </div>
            </div>
        </div>
    </div>
</article>