<article class="pt-10">
    <div  class="pt-8">
        <div class="bg-gray-100 dark:bg-gray-900 lg:py-12 lg:flex lg:justify-center">
            <div class="bg-white dark:bg-gray-800 lg:mx-8 lg:flex lg:max-w-5xl lg:shadow-lg lg:rounded-lg">
                <div class="lg:w-1/2">
                    <div class="h-64 bg-cover lg:rounded-lg lg:h-full" style="background-image:url('https://blazed.sirv.com/ibis/blazed-arena.jpg')"></div>
                </div>

                <div class="max-w-xl px-6 py-12 lg:max-w-5xl lg:w-1/2">
                    <h2 class="text-2xl font-bold text-gray-800 dark:text-white md:text-3xl">
                        Building tomorrow <span class="text-red-600">today</span>
                    </h2>
                    <p class="mt-4 text-gray-600 dark:text-gray-400">
                        Blazed Labs LLC was founded in 2020, and since our founding we have been commited to security, quality, and performance.
                    </p>
                    
                    <div class="mt-8">
                        <a href="https://blazedlabs.com/about" target="_blank" class="px-5 py-2 font-semibold text-gray-100 transition-colors duration-200 transform bg-gray-900 rounded-md hover:bg-gray-700">
                            Learn More
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>