<article class="p-6 dark:bg-gray-800 dark:text-gray-50 pt-10">
    <div class="pt-20 md:max-w-md relative mx-auto">
        <div *ngIf="showSales">
            <div class="bg-gray-50 pt-5 pb-2 mb-3">
                <h2 class="text-center text-xl text-gray-700 font-bold">
                    Sales inquiry?
                </h2>
                <ul class="text-center pt-3 pb-3">
                    <li class="py-3"><a href="https://blazed.contact/website" class="hover:underline text-gray-600">Website Inquiry</a></li>
                    <li class="py-3"><a href="https://blazed.contact/app" class="hover:underline text-gray-600">App Inquiry</a></li>
                    <li class="py-3"><a href="https://blazed.tel/contact" class="hover:underline text-gray-600">Telecom Sales</a></li>
                    <li class="py-3"><a (click)="goBack();" class="hover:underline text-gray-500 cursor-pointer">&lt;- Go Back</a></li>
                </ul>
            </div>
        </div>
        <div *ngIf="showSupport">
            <div class="bg-gray-50 pt-5 pb-2 mb-3">
                <h2 class="text-center text-xl text-gray-700 font-bold">
                    Support Request?
                </h2>
                <ul class="text-center pt-3 pb-3">
                    <li class="py-3"><a href="https://blazed.systems/support" class="hover:underline text-gray-600">Systems Support</a></li>
                    <li class="py-3"><a href="https://blazed.tel/support" class="hover:underline text-gray-600">Telecom Support</a></li>
                    <li class="py-3"><a href="https://www.facebook.com/groups/blazedbugs" class="hover:underline text-gray-600">Facebook Bug Group</a></li>
                    <li class="py-3"><a (click)="goBack();" class="hover:underline text-gray-500 cursor-pointer">&lt;- Go Back</a></li>
                </ul>
            </div>
        </div>
        <div *ngIf="showContact">
            <h1 class="text-center text-3xl font-bold py-5">
                Contact Us
            </h1>
            <form method="post" action="https://api.staticforms.xyz/submit" #contactForm>
                <fieldset class="py-2">
                    <div>
                        <label class="block py-2" for="field-name">
                            Full Name:
                        </label>
                        <input required placeholder="John Smith" name="name" id="field-name" type="text" class="p-3 border w-full" title="Please enter your first and last name.">
                    </div>
                    <div class="pt-5 md:pt-4 pb-2">
                        <label class="block py-2" for="field-email">
                            Email:
                        </label>
                        <input required placeholder="name@example.com" name="email" id="field-email" type="email" class="p-3 border w-full" title="Please enter your email address.">
                    </div>
                </fieldset>
                <fieldset class="py-2 mb-4">
                    <div>
                        <select (change)="selectBox($event)" (ngModel)="selectedPurpose" required name="$nature" class="p-3 border w-full">
                            <option default>What is the nature of this inquiry?</option>
                            <optgroup label="Sales or Support">
                                <option value="sales">Sales Inquiry</option>
                                <option value="support">Support Request</option>
                            </optgroup>
                            <optgroup label="General / Legal">
                                <option value="feedback">Customer Feedback</option>
                                <option value="legal">Legal</option>
                                <option value="marketing">Marketing</option>
                                <option value="hr">Human Resources (HR)</option>
                                <option value="employment">Employment</option>
                                <option value="general">Other (General)</option>
                            </optgroup>
                        </select>
                    </div>
                </fieldset>
                <fieldset class="py-2">
                    <div>
                        <label clas="block py-4" for="field-message">
                            Message:
                        </label>
                        <textarea required id="field-message" name="message" class="border p-3 w-full" title="Please enter your message."></textarea>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="hidden">
                        <input type="text" name="honeypot" style="display:none">
                        <input type="hidden" name="accessKey" value="ae7d37b2-fcad-42f6-a26f-d9d805abfb04">
                        <input type="hidden" name="subject" value="Contact us from - blazed.company" />
                        <input type="hidden" name="replyTo" value="@">
                        <input type="hidden" name="redirectTo" value="https://blazed.company/success">
                    </div>
                </fieldset>
                <fieldset class="py-2">
                    <div>
                        <input type="submit" value="Send Message" class="p-3 border bg-gray-700 hover:bg-gray-800 text-white rounded-md" />
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</article>