<div class="pt-32 pb-20 md:pt-40 bg-gray-50">
    <div class="container m-auto px-6 md:px-12 lg:px-6">
        <div class="lg:flex lg:items-center lg:gap-x-16">
            <div class="space-y-8 lg:w-7/12">
                <h1 class=" font-bold text-gray-900 text-4xl md:text-5xl">
                    Blazed Labs LLC
                </h1>
                <p class="text-gray-600 lg:w-11/12">
                   Software development, telecom, and publishing company.
                </p>
                <h3 class="block text-2xl font-semibold pl-5">
                    We turn Dreams into Reality.
                </h3>
                <h3 class="text-md text-gray-600 pl-5">
                    Github Profiles:
                </h3>
                <div class="grid grid-cols-3 space-x-4 md:space-x-6 md:flex">
                    <a target="_blank" href="https://github.com/blazed-labs/" class="p-4 border border-gray-200 rounded-md hover:border-black hover:shadow-lg">
                        <div class="flex justify-center space-x-4">
                            <img class="w-6" src="https://blazed.sirv.com/logo/john-mcmahon-ljjcoULkxL8-unsplash_black.png?w=128&h=128" alt="slack logo" loading="lazy" width="128" height="128">
                            <span class="hidden font-medium md:block">
                                @blazed-labs
                            </span>
                        </div>
                    </a>    
                    <a target="_blank" href="https://github.com/blazed-space/" class="p-4 border border-gray-200 rounded-md hover:border-blue-400 hover:shadow-lg">
                        <div class="flex justify-center space-x-4">
                            <img class="w-6" src="https://blazed.sirv.com/logo/john-mcmahon-ljjcoULkxL8-unsplash_blue.png?w=128&h=128" alt="chat logo" loading="lazy" width="128" height="128">
                            <span class="hidden font-medium md:block">
                                @blazed-space
                            </span>
                        </div>
                    </a>   
                    <a target="_blank" href="https://github.com/blazed-xyz/" class="p-4 border border-gray-200 rounded-md hover:border-red-400 hover:shadow-lg">
                        <div class="flex justify-center space-x-4">
                            <img class="w-6" src="https://blazed.sirv.com/logo/john-mcmahon-ljjcoULkxL8-unsplash_red.png?w=128&h=128" alt="chat logo" loading="lazy" width="128" height="128">
                            <span class="hidden font-medium md:block">
                                @blazed-xyz
                            </span>
                        </div>
                    </a>    
                </div>
            </div>
            <div hidden class="lg:block lg:w-5/12">
                <img src="https://blazed.sirv.com/promo/208444757_336900631274908_2144811183765452864_n.png?w=420&h=280" class="w-full shadow-lg" alt="wath illustration" loading="lazy" width="320" height="280">
            </div>
        </div>
    </div>
</div>