<article>
	<div class="text-gray-800 pt-20">
		<div class="px-4 py-16 mx-auto max-w-7xl sm:px-6 lg:px-8">
			<div class="max-w-3xl mx-auto text-center">
				<h1 class="text-3xl font-extrabold sm:text-3xl select-none pb-10">
					Blazed Network <span class="text-red-600">Directory</span>
				</h1>
			</div>
			<dl class="mt-12 space-y-10 sm:space-y-0 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-12 lg:grid-cols-4 lg:gap-x-8 select-none">
				<div *ngFor="let website of directory$ | async" class="flex">
					<a target="_blank" class="group" href="{{ website.url }}" title="Visit {{ website.name }}">
						<div class="block ml-3">
							<dt class="text-lg font-medium">
									&bull; <span class="group-hover:underline">{{ website.name }}</span>
							</dt>
							<dd class="mt-2 text-gray-600 group-hover:text-gray-500">
								{{ website.desc }}
							</dd>
						</div>
					</a>
				</div>
			</dl>
		</div>
	</div>
	<hr />
	<app-newsletter-hero></app-newsletter-hero>
</article>