@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Hind+Vadodara&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Hind Vadodara', sans-serif;
}

*::-webkit-scrollbar{
    width:10px;
}

*::-webkit-scrollbar-track{
    background:#727a8a;
}

*::-webkit-scrollbar-thumb{
    background-color:#afb4bd;
    border-radius:20px;
    border:1px solid #5b626e;
}

*::-webkit-scrollbar-thumb:hover{
    background-color:#5b626e;
}