---
import Layout from "@/layouts/Layout.astro";
import { formatTelephone } from "@/lib/functions";
import type { MenuItem } from "@/lib/types/menu";
import { Button } from "@/components/ui/button";

const supportEmail = "help@blazed.company";
const supportTel = "+18559764121";
const address = "1650 Simpson Ave, Ocean City, NJ 08226";

const breadCrumb = [
    {
        title: "Home",
        path: "/"
    },
    {
        title: "Help Center"
    }
] as MenuItem[];
---

<Layout title="Help Center" 
        description="Need support with Blazed software? Simply file a ticket with our help desk and we will assist you."
        breadcrumb={breadCrumb}>
    <section class="py-6 text-gray-900">
        <div class="grid w-full grid-cols-1 px-6 mx-auto lg:px-8 md:grid-cols-2 md:divide-x">
            <div class="py-6 md:py-0 md:px-6">
                <h1 class="text-4xl font-bold">
                    Help Center
                </h1>
                <p class="pt-2 pb-4">
                    Get support from Blazed Labs.
                </p>
                <div class="space-y-4">
                    <p class="flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 mr-2 sm:mr-6">
                            <path fill-rule="evenodd" d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd"></path>
                        </svg>
                        <span title={address} class="truncate">
                            {
                                address
                            }
                        </span>
                    </p>
                    <p class="flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 mr-2 sm:mr-6">
                            <path d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z"></path>
                        </svg>
                        <a title="Contact us via Telephone" href={`tel:${supportTel}`}>
                            { 
                                formatTelephone(supportTel) 
                            }
                        </a>
                    </p>
                    <p class="flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 mr-2 sm:mr-6">
                            <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path>
                            <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path>
                        </svg>
                        <a title="Contact us via Email" href={`mailto:${supportEmail}`}>
                            {
                                supportEmail
                            }
                        </a>
                    </p>
                </div>
            </div>
            <div class="flex flex-col text-center py-6 space-y-6 md:py-10 md:px-6">
                <a href="/help/new-ticket">
                    <Button>
                        Create New Ticket
                    </Button>
                </a>
                <br />
                <a href="/help/ticket">
                    <Button>
                        Lookup Existing Ticket
                    </Button>
                </a>
            </div>
        </div>
    </section>
</Layout>
<style>
    h1{
        padding: 2vi 0vi;
    }
    a.button:hover{
        color:#fff;
    }
</style>