---
import Layout from "@/layouts/Layout.astro";
import type { MenuItem } from "@/lib/types/menu";

import { Input } from "@/components/ui/input";
import { Textarea } from "@/components/ui/textarea";
import { Label } from "@/components/ui/label"
import { Button } from "@/components/ui/button";

const breadCrumb = [
    {
        title: "Home",
        path: "/"
    },
    {
        title: "Help Center",
        path: "/help/"
    },
    {
        title: "Start a New Ticket"
    }
] as MenuItem[];
---

<Layout title="Help Center" 
        description="Need support with Blazed software? Simply file a ticket with our help desk and we will assist you."
        breadcrumb={breadCrumb}>
    <form class="new-ticket-form max-w-sm mx-auto select-none">
        <h1>
            Start a New Ticket
        </h1>
        <div class="mb-6">
            <Label htmlFor="fullname">Full Name</Label>
            <Input type="text" id="fullname" placeholder="John Smith" required />
        </div>
        <div class="mb-6">
            <Label htmlFor="email">Email</Label>
            <Input type="email" id="email" placeholder="jsmith@example.com" required />
        </div>
        <div class="mb-6">
            <Label htmlFor="message">Your message</Label>
            <Textarea id="message" rows={4} placeholder="Please describe the issue..." />
        </div>
        <div>
            <Button type="submit">
                Submit Ticket
            </Button>
        </div>
    </form>
</Layout>
<style is:global>
    .new-ticket-form{
        width: 360px;
        max-width:100%;
        padding: 5vi 0 6vi;
    }
    textarea{
        min-height:80px;
    }
    h1{
        font-size:28pt;
        text-align:center;
        padding: 1vi 0vi
    }
</style>