<article class="pt-20">
    <div class="max-w-3xl mx-auto text-center mt-16">
        <h1 class="text-3xl font-extrabold sm:text-3xl select-none">
            <span class="text-red-600">About</span> Us
        </h1>
    </div>
    <div>
        <app-about-card></app-about-card>
    </div>
    <div class="mb-20">
        <app-discover></app-discover>
    </div>
    <hr />
    <div class="py-5 pb-20 mb-10">
        <app-ruff-seal></app-ruff-seal>
    </div>
    <hr />
    <app-newsletter-hero></app-newsletter-hero>
</article>