---
import Layout from "@/layouts/Layout.astro";
import type { MenuItem } from "@/lib/types/menu";

const domainsQuery = await fetch(new URL("/api/domains", Astro.url));
const data = await domainsQuery.json();

interface Domain{
    name: string;
    type: string;
    company: string;
    url: string;
};

const breadCrumb = [
    {
        title: "Home",
        path: "/"
    },
    {
        title: "Directory",
        path: "/dir/"
    },
    {
        title: "Domains"
    }
] as MenuItem[];
---

<Layout title="Domains Directory" 
        description="Browse our domain names. The domain directory is the best way to see our entire web-space."
        breadcrumb={breadCrumb}>
    <p>
        {
            data.map((domain: Domain) => (
                <p>
                    {domain.name}
                </p>
            ))
        }
    </p>
</Layout>