---
import Layout from "@/layouts/Layout.astro";
import type { MenuItem } from "@/lib/types/menu";

const domainsQuery = await fetch(new URL("/api/domains", Astro.url));
const data = await domainsQuery.json();

const breadCrumb = [
    {
        title: "Home",
        path: "/"
    },
    {
        title: "Directory",
        path: "/dir/"
    },
    {
        title: "Domains"
    }
] as MenuItem[];
---

<Layout title="Domains Directory" 
        description="Browse our domain names. The domain directory is the best way to see our entire web-space."
        breadcrumb={breadCrumb}>
    <p>
        {
            data.map((doc: any) => (
                <p>
                    {doc.name}
                </p>
            ))
        }
    </p>
</Layout>