---
import Layout from "@/layouts/Layout.astro";
import type { MenuItem } from "@/lib/types/menu";

const breadCrumb = [
    {
        title: "Home",
        path: "/"
    },
    {
        title: "Directory",
        path: "/dir/"
    },
    {
        title: "Domains"
    }
] as MenuItem[];
---

<Layout title="Domains Directory" 
        description="Browse our domain names. The domain directory is the best way to see our entire web-space."
        breadcrumb={breadCrumb}>
    <p>
        Domains List
    </p>
</Layout>