---
import Layout from "@/layouts/Layout.astro";
import { Button } from "@/components/ui/button";
---

<Layout title="Home">
	<div class="mt-8">
		<h1>Blazed Company</h1>
		<Button>Hello World</Button>
	</div>
</Layout>