<div class="bg-white mt-10 select-none">
    <div class="container flex flex-col items-center px-4 pt-12 mx-auto text-center">
        <h2 class="text-3xl font-semibold tracking-tight text-gray-700 sm:text-4xl">
            <span class="select-none text-gray-400">Managed By:</span> 
            <br />
            <span class="text-gray-600" title="Ruff Management Inc.">Ruff Management</span>
        </h2>
        
        <div class="mt-6 sm:-mx-2">
            <div class="inline-flex w-full sm:w-auto sm:mx-2">
                <a title="Official website of Ruff Management" href="https://ruff-manage.com/" target="_blank" class="inline-flex items-center justify-center transition-colors duration-200 transform w-full px-5 py-2 text-white bg-red-600 rounded-lg hover:bg-red-700 focus:ring focus:ring-red-300 focus:ring-opacity-80">
                    <i class="mr-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColo" viewBox="0 0 512 512" class="w-4 h-4 fill-current">
                            <path d="M352 0c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9L370.7 96 201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L416 141.3l41.4 41.4c9.2 9.2 22.9 11.9 34.9 6.9s19.8-16.6 19.8-29.6V32c0-17.7-14.3-32-32-32H352zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z"/>
                        </svg>
                    </i>
                    Website
                </a>
            </div>

            <div class="inline-flex w-full mt-4 sm:w-auto sm:mx-2 sm:mt-0">
                <a title="Official Facebook Page of Ruff Management" href="https://www.facebook.com/ruffmanagement" target="_blank" class="inline-flex items-center transition-colors duration-200 transform justify-center w-full px-5 py-2 text-gray-700 transition-colors duration-150 transform bg-white border border-gray-200 rounded-lg hover:bg-gray-200 sm:w-auto focus:ring focus:ring-red-300 focus:ring-opacity-90">
                    <i class="mr-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 32 32" class="w-4 h-4 fill-current">
                            <path d="M32 16c0-8.839-7.167-16-16-16-8.839 0-16 7.161-16 16 0 7.984 5.849 14.604 13.5 15.803v-11.177h-4.063v-4.625h4.063v-3.527c0-4.009 2.385-6.223 6.041-6.223 1.751 0 3.584 0.312 3.584 0.312v3.937h-2.021c-1.984 0-2.604 1.235-2.604 2.5v3h4.437l-0.713 4.625h-3.724v11.177c7.645-1.199 13.5-7.819 13.5-15.803z"></path>
                        </svg>
                    </i>
                    Facebook
                </a>
            </div>

            <div class="inline-flex w-full mt-4 sm:w-auto sm:mx-2 sm:mt-0">
                <a title="Official Twitter Account of Ruff Management" href="https://www.twitter.com/RuffManage" target="_blank" class="inline-flex items-center transition-colors duration-200 transform justify-center w-full px-5 py-2 text-gray-700 transition-colors duration-150 transform bg-white border border-gray-200 rounded-lg hover:bg-gray-200 sm:w-auto focus:ring focus:ring-red-300 focus:ring-opacity-90">
                    <i class="mr-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="w-4 h-4 bi bi-twitter" viewBox="0 0 16 16">
                            <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
                        </svg>
                    </i>
                    Twitter
                </a>
            </div>
        </div>
    </div>
</div>