<div class="select-none max-w-xl relative mx-auto mb-10 md:mb-0">
    <div class="flex items-center w-full px-6 py-8 pb-5">
        <div class="max-w-xl">
            <h2 class="text-2xl text-center font-semibold text-gray-800 dark:text-white lg:text-3xl mt-20 md:mt-10">
                Discover <span class="text-red-600 dark:text-red-400">Blazed Labs</span>
            </h2>
                
            <p class="mt-2 text-sm text-gray-500 text-center lg:text-base p-2 px-5 pt-4">
                Check out products, services, and companies created by Blazed Labs LLC.
                Our solutions will surely deliver value to your business.
            </p>

            <div class="flex flex-col mt-6 space-y-3 lg:space-y-0 lg:flex-row max-w-xl justify-center">
                <a target="_blank" title="Visit Blazed Labs Main Site" href="https://blazedlabs.com/" class="block px-3 py-2 text-sm font-semibold text-center text-gray-700 transition-colors duration-200 transform bg-gray-200 rounded-md lg:mx-4 hover:bg-gray-300">
                    Main Site
                </a>
                <a target="_blank" title="Visit Blazed Space to discover our products and services" href="https://blazed.space/" class="block px-3 py-2 text-sm font-semibold text-center text-white transition-colors duration-200 transform bg-gray-900 rounded-md hover:bg-gray-700">
                    Solutions
                </a>
            </div>
        </div>
    </div>
</div>