---
import Layout from "@/layouts/Layout.astro";
import type { MenuItem } from "@/lib/types/menu";
import Tabs from "@/components/basic/Tabs.astro";
import { tabList } from "@/pages/investors/tabList";
import { getCollection } from "astro:content";

const pressers = (await getCollection('press'));

const breadCrumb = [
    {
        title: "Home",
        path: "/"
    },
    {
        title: "Investors",
        path: "/investors/"
    },
    {
        title: "Press Releases"
    }
] as MenuItem[];
---

<Layout title="Investor Relations Press Releases" 
        description="Invest in Blazed Labs today!"
        breadcrumb={breadCrumb}>
    <h1>
        Press Releases
    </h1>
    <Tabs tabList={tabList} />
    <ul class="p-5">
        {
            pressers.map((pressReleaseItem) => (
                <li>
                    <a href={`/investors/press/${pressReleaseItem.slug}`}>
                        {pressReleaseItem.data.title}
                    </a>
                </li>
            ))
        }
    </ul>
</Layout>
<style>
    h1{
        font-size: 36pt;
        padding: 2vi 0vi;
    }
</style>