<div class="lg:py-12 lg:flex lg:justify-center">
    <div class="bg-gray-100 lg:mx-8 lg:flex lg:max-w-5xl lg:border lg:border-black">
        <div class="lg:w-1/2 border border-t-0 border-b-0 border-l-0 border-r-1 border-gray-600">
            <div class="h-64 bg-cover lg:h-full select-none" style="background-image:url('https://blazed.sirv.com/ibis/blazed-arena.jpg')"></div>
        </div>

        <div class="max-w-xl px-6 py-12 lg:max-w-5xl lg:w-1/2">
            <div title="We turn Dreams into Reality!">
                <h2  class="text-2xl font-bold text-gray-800 md:text-3xl select-none">
                    <span class="text-xl">We're Building tomorrow...</span> 
                    <span class="text-red-600">Today!</span>
                </h2>
                <p class="mt-4 text-gray-600 select-none">
                    We, at Blazed Labs, believe that technology should be accessible, reliable and easy to use. Our mission is to provide innovative and cutting-edge solutions to our customers that make their lives easier and more productive.
                </p>
            </div>
            <div class="select-none">
                <br />
            </div>
            <p>
                <span class="text-gray-600 select-none">Entity ID:</span>&nbsp;<span class="select-all">0450452884</span>
            </p>
            <p>
                <span class="text-gray-600 select-none">Incorporated Date:&nbsp;</span><time datetime="2020-01-13" title="1/13/2020" class="select-all">January 13th, 2020</time>
            </p>
            <div>
                <span class="text-gray-600 select-none">Operating Location:&nbsp;</span>
                <address class="inline select-all" title="{{ data.address }}">
                    <a href="https://goo.gl/maps/BgoDMTcBvN2eKkhS9" class="hover:underline" target="_blank">
                        Egg Harbor Township, New Jersey
                    </a>
                </address>
            </div>
            <p>
                <span class="text-gray-600 select-none">Main Telephone:&nbsp;</span><a class="hover:underline" href="tel:{{ app.phone }}" title="Call Blazed Labs">{{ app.phone | phoneFormat }}</a>
            </p>
            <p>
                <span class="text-gray-600 select-none">Main Email:&nbsp;</span><a class="hover:underline select-none" href="mailto:{{ app.email }}" title="Email Blazed Labs">{{ app.email }}</a>
            </p>
            <p>
                <span class="text-gray-600 select-none">Questions? Comments? Concerns?&nbsp;</span><a class="hover:underline select-none" href="/contact" title="Contact us online">Contact Us</a>
            </p>
            <div class="mt-8 select-none">
                <a href="/newsletter" title="Join our product newsletter today!" class="hidden md:inline-block px-5 py-2 font-semibold text-gray-100 transition-colors duration-200 transform bg-gray-800 rounded-md hover:bg-gray-900 focus:ring focus:ring-gray-400 focus:ring-opacity-80">
                    Join Newsletter
                </a>
            </div>
        </div>
    </div>
</div>