<div class="text-gray-800 pt-20">
	<div class="px-4 py-16 mx-auto max-w-7xl sm:px-6 lg:px-8">
		<div class="max-w-3xl mx-auto text-center">
			<h2 class="text-3xl font-extrabold sm:text-4xl">
                Blazed Network Directory
            </h2>
		</div>
		<dl class="mt-12 space-y-10 sm:space-y-0 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-12 lg:grid-cols-4 lg:gap-x-8">
			<div class="flex">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true" class="flex-shrink-0 w-6 h-6 text-blue-600">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
				</svg>
				<div class="ml-3">
					<dt class="text-lg font-medium">
                        <a target="_blank" class="hover:underline" href="https://blz.one/">
                            Blazed One
                        </a>
                    </dt>
					<dd class="mt-2 text-gray-600">
                        The Blazed One platform is the home for all sub-platforms in the Blazed One solution.
                    </dd>
				</div>
			</div>
			<div class="flex">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true" class="flex-shrink-0 w-6 h-6 text-blue-600">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
				</svg>
				<div class="ml-3">
					<dt class="text-lg font-medium">
                        <a target="_blank" class="hover:underline" href="https://blazed.tel/">
                            Blazed Telecom
                        </a>
                    </dt>
					<dd class="mt-2 text-gray-600">
                        Telephone and general communications services for any size of business.
                    </dd>
				</div>
			</div>
			<div class="flex">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true" class="flex-shrink-0 w-6 h-6 text-blue-600">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
				</svg>
				<div class="ml-3">
					<dt class="text-lg font-medium">
                        <a class="hover:underline" href="https://blazed.xyz/" target="_blank">
                            Blazed Publishing
                        </a>
                    </dt>
					<dd class="mt-2 text-gray-600">
                        Publishing service and platform for blogs, books, newspapers, magazines, and scholarly journals.
                    </dd>
				</div>
			</div>
			<div class="flex">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true" class="flex-shrink-0 w-6 h-6 text-blue-600">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
				</svg>
				<div class="ml-3">
					<dt class="text-lg font-medium">
                        <a class="hover:underline" href="https://blazed.watch/" target="_blank">
                            Blazed Watch
                        </a>
                    </dt>
					<dd class="mt-2 text-gray-600">
                        Watch platform and production service for serious film-makers. We broadcast your artistic vision.
                    </dd>
				</div>
			</div>
			<div class="flex">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true" class="flex-shrink-0 w-6 h-6 text-blue-600">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
				</svg>
				<div class="ml-3">
					<dt class="text-lg font-medium">
                        <a target="_blank" class="hover:underline" href="https://blazed.systems/">
                            Blazed Systems
                        </a>
                    </dt>
					<dd class="mt-2 text-gray-600">
                        Networking service with superpowers! We keep your systems secure, stable, and performant. 
                    </dd>
				</div>
			</div>
			<div class="flex">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true" class="flex-shrink-0 w-6 h-6 text-blue-600">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
				</svg>
				<div class="ml-3">
					<dt class="text-lg font-medium">
                        <a class="hover:underline" href="https://blazed.space/" target="_blank">
                            Blazed Space
                        </a>
                    </dt>
					<dd class="mt-2 text-gray-600">
                        Search the Blazed Network, powered by Google. Blazed Space is a search engine.
                    </dd>
				</div>
			</div>
			<div class="flex">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true" class="flex-shrink-0 w-6 h-6 text-blue-600">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
				</svg>
				<div class="ml-3">
					<dt class="text-lg font-medium">
                        <a target="_blank" class="hover:underline" href="https://blazed.world/">
                            Blazed World
                        </a>
                    </dt>
					<dd class="mt-2 text-gray-600">
                        Logistics mapping and management platform. Plan your routes, manage saved locations, and produce trip manifests for drivers.
                    </dd>
				</div>
			</div>
			<div class="flex">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true" class="flex-shrink-0 w-6 h-6 text-blue-600">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
				</svg>
				<div class="ml-3">
					<dt class="text-lg font-medium">
                        <a target="_blank" class="hover:underline" href="https://blazed.games/">
                            Concrete Games
                        </a>
                    </dt>
					<dd class="mt-2 text-gray-600">
                        Game publishing platform, find your favorite games or share your own creations!
                    </dd>
				</div>
			</div>
			<div class="flex">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true" class="flex-shrink-0 w-6 h-6 text-blue-600">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
				</svg>
				<div class="ml-3">
					<dt class="text-lg font-medium">
                        <a target="_blank" class="hover:underline" href="https://blazed.software/">
                            Blazed Sofware
                        </a>
                    </dt>
					<dd class="mt-2 text-gray-600">
                        Social networking for your software! A software sharing site for app, mobile, and web.
                    </dd>
				</div>
			</div>
			<div class="flex">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true" class="flex-shrink-0 w-6 h-6 text-blue-600">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
				</svg>
				<div class="ml-3">
					<dt class="text-lg font-medium">
                        <a target="_blank" class="hover:underline" href="https://blazed.sbs/">
                            Blazed SBS
                        </a>
                    </dt>
					<dd class="mt-2 text-gray-600">
                        Small business solutions for Blazed Labs LLC and partners.
                    </dd>
				</div>
			</div>
			<div class="flex">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true" class="flex-shrink-0 w-6 h-6 text-blue-600">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
				</svg>
				<div class="ml-3">
					<dt class="text-lg font-medium">
                        <a target="_blank" class="hover:underline" href="https://blazed.monster/">
                            Blazed Monster
                        </a>
                    </dt>
					<dd class="mt-2 text-gray-600">
                        Other misc sites and services provides by Blazed Labs LLC
                    </dd>
				</div>
			</div>
			<div class="flex">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true" class="flex-shrink-0 w-6 h-6 text-blue-600">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
				</svg>
				<div class="ml-3">
					<dt class="text-lg font-medium">
                        <a target="_blank" class="hover:underline" href="https://blazed.contact/">
                            Blazed Contact
                        </a>
                    </dt>
					<dd class="mt-2 text-gray-600">
                        Sales inquiries for Blazed Labs LLC, websites and applications.
                    </dd>
				</div>
			</div>
			<div class="flex">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true" class="flex-shrink-0 w-6 h-6 text-blue-600">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
				</svg>
				<div class="ml-3">
					<dt class="text-lg font-medium">
                        <a target="_blank" class="hover:underline" href="https://blazed.quest/">
                            Blazed Quest
                        </a>
                    </dt>
					<dd class="mt-2 text-gray-600">
                        Project management site for public and open source projects by the Blazed Development Group.
                    </dd>
				</div>
			</div>
			<div class="flex">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true" class="flex-shrink-0 w-6 h-6 text-blue-600">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
				</svg>
				<div class="ml-3">
					<dt class="text-lg font-medium">
                        <a target="_blank" class="hover:underline" href="https://blazed.city/">
                            Blazed City
                        </a>
                    </dt>
					<dd class="mt-2 text-gray-600">
                        Virtual city located within the virtual micronation of Blazed (Blazed World).
                    </dd>
				</div>
			</div>
		</dl>
	</div>
</div>