<article class="pt-20">
    <div class="container p-6 mx-auto bg-white dark:bg-gray-800">
        <h2 class="text-xl font-medium text-gray-800 capitalize dark:text-white md:text-2xl">Our Team</h2>

        <div class="flex items-center justify-center">
            <div class="grid gap-8 mt-8 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
                <div class="w-full max-w-xs text-center">
                    <img class="object-cover object-center w-full h-48 mx-auto rounded-lg" src="https://blazed.sirv.com/ibis/blazed-games-desktop.jpg" alt="avatar"/>

                    <div class="mt-2">
                        <h3 class="text-lg font-medium text-gray-700 dark:text-gray-200">
                            Tyler Ruff
                        </h3>
                        <a target="_blank" href="https://tyler-ruff.com/" class="mt-1 font-medium text-gray-600 dark:text-gray-300">
                            Website
                        </a>
                        <span>
                            |
                        </span>
                        <a target="_blank" href="https://www.facebook.com/blazed.space/" class="mt-1 font-medium text-gray-600 dark:text-gray-300">
                            Facebook
                        </a>
                        <span>
                            |
                        </span>
                        <a target="_blank" href="https://github.com/tyler-ruff" class="mt-1 font-medium text-gray-600 dark:text-gray-300">
                            Github
                        </a>
                    </div>
                </div>

                <div class="w-full max-w-xs text-center">
                    <img class="object-cover object-center w-full h-48 mx-auto rounded-lg" src="https://blazed.sirv.com/ibis/blazed-space.jpg" alt="avatar"/>

                    <div class="mt-2">
                        <h3 class="text-lg font-medium text-gray-700 dark:text-gray-200">
                            Plotinus Magnus
                        </h3>
                        <a target="_blank" href="https://www.facebook.com/plotinusmagnus/" class="mt-1 font-medium text-gray-600 dark:text-gray-300">
                            Facebook
                        </a>
                    </div>
                </div>

                <div class="w-full max-w-xs text-center">
                    <img class="object-cover object-center w-full h-48 mx-auto rounded-lg" src="https://blazed.sirv.com/ibis/blazed-world.jpg" alt="avatar"/>

                    <div class="mt-2">
                        <h3 class="text-lg font-medium text-gray-700 dark:text-gray-200">
                            Alexander Mazelow
                        </h3>
                        <a target="_blank" href="https://www.facebook.com/alexmazelow/" class="mt-1 font-medium text-gray-600 dark:text-gray-300">
                            Facebook
                        </a>
                    </div>
                </div>

                <div class="w-full max-w-xs text-center">
                    <img class="object-cover object-center w-full h-48 mx-auto rounded-lg" src="https://blazed.sirv.com/ibis/blazed-xyz.jpg" alt="avatar"/>

                    <div class="mt-2">
                        <h3 class="text-lg font-medium text-gray-700 dark:text-gray-200">
                            Woodrow Bronzelton
                        </h3>
                        <a target="_blank" href="https://www.facebook.com/woodrowbronze/" class="mt-1 font-medium text-gray-600 dark:text-gray-300">
                            Facebook
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>