---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_DESCRIPTION } from '../consts';
import type { MenuItem } from '@/lib/types/menu';
import CrumbMenu from '@/components/CrumbMenu.astro';

import slugify from 'slugify';

interface Props {
    title: string;
    description?: string;
    breadcrumb?: MenuItem[];
}

const { title, description = SITE_DESCRIPTION, breadcrumb} = Astro.props;
const pageSlug = slugify(title);
---

<!doctype html>
<html lang="en" dir="ltr">
    <head>
        <BaseHead title={title} description={description} />
    </head>
    <body>
        <section id="blz-app">
            <Header />
            <main>
                <div class="content-header select-none">
                    <div id="search"></div>
                    <CrumbMenu breadcrumbList={breadcrumb} />
                </div>
                <div class="content-main">
                    <slot />
                </div>
            </main>
            <Footer />
        </section>
        <script>
            import { initFlowbite, initDropdowns } from 'flowbite';
            window.addEventListener('astro:before-preparation', () => {
                initFlowbite();
                initDropdowns();
            });
        </script>
    </body>
</html>