---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en" dir="ltr">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <section id="blz-app">
            <Header />
            <main>
                <slot />
            </main>
            <Footer />
        </section>
        <!--<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>-->
		<script>
			import { initFlowbite, initDropdowns } from 'flowbite';
			window.addEventListener('load', () => {
				initFlowbite();
				initDropdowns();
			});
		</script>
    </body>
</html>